[submodule "external/netcipher"]
	path = external/netcipher
	url = https://github.com/guardianproject/NetCipher.git
	branch = master
[submodule "external/extension"]
	path = external/extension
	url = git@github.com:khaled-cliqz/navigation-extension
